body{
    font-family: 'Beau Rivage', cursive;
    font-family: 'Cabin', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Lato', sans-serif;
}
footer h2{
    font-family: 'Beau Rivage', cursive;
    font-family: 'Cabin', sans-serif;
    font-family: 'Courier Prime', monospace;
    font-family: 'Great Vibes', cursive;
    font-family: 'Kanit', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Leckerli One', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Lobster Two', cursive;
}
section{
    margin-bottom: 100px;
}
.top-section{
    background-image: url(../images/donation5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.top-section div{
    background-color: rgba(10, 17, 20, 0.7);
    text-align: center;
    padding: 150px 0;
    color: white;
}
h1{
    font-size: 50px;
}
p{
    font-weight: 200;
}
.top-section div p{
    margin-bottom: 40px;

}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    padding: 10px 15px;
    border-radius: 5%;
    color: white;
    font-weight: 500;
}
.flexible-box{
    display: flex;
    /* margin: 50px 0; */
}
.donate-today-section{
    text-align: center;
}
.donate-today-section .amount-tk{
    margin-left: 400px;
    margin-top: 40px;
    margin-bottom: 50px;

}
.donate-today-section .amount-tk div{
    box-shadow: 2px 2px 10px gray;
    padding: 10px 25px;
    margin: 0 9px;
}
.donate-today-section .amount-tk .two-hundred-tk{
    border: 2px solid red;
    color: red;
}
.donate-today-section .horizontal-line{
    width: 42%;
    margin-top: -8px;
    margin-bottom: 35px;
    margin-left: 405px;
}
.donate-plan-section{
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}
.donate-plan-section p{
    margin-bottom: 50px;
}

.donate-plan-section div .donate-plan-box{
    /* width: 33.33%; */
    text-align: left;
    padding: 40px 20px;
    border-radius: 1%;
    margin-left: 10px;
    margin-right: 5px;

}
.donate-plan-section div #food-for-family{
    background-color: rgba(232, 232, 232, 1);
}
.donate-plan-section div #shelter-for-family{
    background-color: rgba(255, 99, 71, 0.4);
}
.donate-plan-section div #education-for-child{
    background-color: rgba(255, 255, 224, 1);
}
.half-width{
    width: 50%;
}
.flexible-box .half-width .img-sizing{
    width: 100%;
}
section .two-part-sec-item{
    padding: 20px 30px;
    margin-right: 10px;
}
.two-part-sec-flex-box{
    margin-left: 100px;
    margin-right: 100px;
}
.two-part-sec-flex-box .two-part-sec-item p{
    margin-bottom: 40px;
}
section div .image-size{
    width: 100%;
}
.update-subscription-section{
    text-align: center;
}
.email-container{
    width: 50%;
    margin-left: 340px;
}
.update-subscription-section .email-container{
    background-color: rgba(250, 244, 211, 1);
    padding-top: 45px;
    padding-bottom: 45px;
}
.update-subscription-section .email-container .email-input{
    padding: 10px 10px;
    background-color: lightgray;
    margin-right: 0;
    border: none;
}
.update-subscription-section .email-container .Submit-btn{
    margin-left: -4px;
    padding: 10px 20px;
    border: none;
    background-color:orangered;
}
.update-subscription-section p{
    margin-bottom: 50px;
}
footer{
    text-align: center;
    background-color: black;
    padding: 30px;
}
footer h2{
    color: tomato;
    font-weight: 700;
}
footer p{
    color: rgb(155, 152, 152);
}
h2{
    font-size: 40px;
    font-weight: 900;
}
h3{
    font-size: 20px;
    font-weight: 700;
}